.Box {
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 8px;
    text-align: center;
    border-radius: 8px;
    word-wrap: break-word;
    background-image: radial-gradient( circle 827px at 47.3% 48%,  rgba(255,255,255,1) 0%, rgba(138,192,216,1) 90% );
}

