.Button {
    background-color: transparent; 
    border: none; 
    line-height: 24px;
    vertical-align: middle;
    outline:none;
}

.Image {
    width: 30px;
    height: 30px;
    vertical-align: bottom;
}

.Text {
    vertical-align: middle;
    font-size: 15px;
    padding: 3px 3px 1px 1px;
}